---
import Layout from "../layouts/Layout.astro";
import Container from "../components/Container.astro";

import { getCollection } from "astro:content";
const posts = await getCollection("posts");
---

<Layout title="Blog | K4D3">
  <Container>
    <header class="header-hero">
      <h1>
        <strong>Blog</strong>
      </h1>
    </header>

    <div class="blog-flex-container">
      {
        posts.map((post) => (
          <a href={`/blog/${post.id}`}>
            <article class="blog-article">
              <figure class="grid-auto-fit">
                <figcaption>
                  <p class="tag">{post.data.date}</p>
                  <h2>{post.data.title}</h2>
                  <p>{post.data.description}</p>
                  <span>{post.data.readTime}</span>
                </figcaption>

                <div class="img-container">
                  <img
                    src="https://picsum.photos/400/250"
                    alt="Random placeholder"
                    width={400}
                    height={300}
                  />
                </div>
              </figure>
            </article>
          </a>
        ))
      }
    </div>
  </Container>

  <style>
    /* || BLOG */

    .blog-flex-container {
      display: flex;
      flex-direction: column;
      gap: var(--space-md);
    }

    .blog-article {
      background-color: var(--color-surface);
      border: 1px solid var(--color-border);
      /* padding: var(--space-md); */
      border-radius: 2rem;
      overflow: hidden;
      padding: var(--space-md);
    }
    .blog-article:hover img {
      transform: scale(1.1);
      /* transition-timing-function: cubic-bezier(0, 0, 0.2, 1); */
      /* transition-duration: 0.3s; */
    }
    .img-container {
      overflow: hidden;
      border-radius: 1rem;
      border-right: 1px solid var(--color-border);
    }
    .blog-article img {
      height: 100%;
      transition: transform 0.5s ease;
    }
    .blog-article figcaption {
      display: flex;
      flex-direction: column;
      /* align-self: center; */
      gap: var(--space-xs);
      font-family: "Satoshi", sans-serif;
    }
    .blog-article h2 {
      /* font-family: "Satoshi", sans-serif; */
      /* line-height: 1; */
      font-size: var(--font-size-level-3);
      font-weight: bold;
    }

    .article-extras {
      margin-top: var(--space-xs);
    }
    .article-extras .tag {
      font-size: var(--font-size-body);
    }

    .tag {
      margin: 0;
    }
  </style>
</Layout>
