---
import Layout from "../layouts/Layout.astro";
import Container from "../components/Container.astro";
import { Image } from "astro:assets";
import ProjectCard from "../components/ProjectCard.astro";
import HireStatus from "../components/HireStatus.astro";
import RouterIcon from "../components/icons/RouterIcon.astro";
import PenToolIcon from "../components/icons/PenToolIcon.astro";
import AboutSection from "../components/AboutSection.astro";
// IMPORT IMAGES
import selfPortrait from "../assets/images/portrait-placeholder.jpg";
import homeNetCover from "../assets/images/temp-homelab.jpg";
import homeLabCover from "../assets/images/home-lab-topology2.jpg";
import gpCover from "../assets/images/grand_place/gp-cover-v2.svg";
import logoCover from "../assets/images/zero-v2.svg";
import letteringCover from "../assets/images/lettering-cover-v3.svg";

import { getCollection } from "astro:content";
const projects = await getCollection("projects");

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="K4D3">
  <Container>
    <header class="home-hero">
      <figure class="portrait-container">
        <Image src={selfPortrait} alt="temp self portrait" loading="eager" />
      </figure>

      <h1 class="tagline">
        I'm Kade, a <strong>Designer</strong> with a passion for
        {" "}
        <strong>IT/Cybersecurity.</strong>
      </h1>

      <p class="intro-text">
        I'm currently a Cybersecurity student <span
          class="text-highlight-color"
        >
          transitioning into IT/Security
        </span>{" "}
        with a creative background in Graphic Design and Front-End Web Development.
      </p>

      <HireStatus />
    </header>

    <section class="projects-container">
      <header class="header-section">
        <h2>Projects</h2>
        <hr />
      </header>

      <section>
        <div class="header-subsection">
          <div class="section-label">
            <RouterIcon />
            <h3>IT/Security</h3>
          </div>
        </div>

        <div class="grid-auto-fit">
          <ProjectCard
            href="/work/home-network"
            title="Home Network"
            description="Design and implementation of a secure home network using OPNsense, focusing on VLAN segmentation."
            image={homeNetCover}
            imageAlt="temp Home lab"
            tag="Networking"
            isAboveFold
          />

          <ProjectCard
            href="/work/home-lab"
            title="Hacking Lab w/ Active Directory"
            description="Setup and administration of an Active Directory environment, managing users, groups, and group policies in a Windows Server domain."
            image={homeLabCover}
            imageAlt="temp Home lab"
            tag="Systems Administration"
            isAboveFold
          />
        </div>
      </section>

      <section>
        <div class="header-subsection">
          <div class="section-label">
            <PenToolIcon />
            <h3>Graphic Design</h3>
          </div>
        </div>

        <div class="grid-auto-fit">
          <ProjectCard
            href="/work/grand-place"
            title="Grand Place"
            description="A new brand identity system and website for a luxury real estate
              team."
            image={gpCover}
            imageAlt="GP monogram inside a rectangular border"
            tag="Branding, Web Development"
          />

          <ProjectCard
            href="/work/lettering"
            title="Lettering Collection"
            description="Select hand-lettering pieces refined through careful iteration for
              technical precision."
            image={letteringCover}
            imageAlt="Letter L in monoline script"
            tag="Custom Type"
          />

          <ProjectCard
            href="/work/logos"
            title="Logos"
            description="A selection of custom logotypes and brand marks from over the
              years."
            image={logoCover}
            imageAlt="Letter L in monoline script"
            tag="Brand Identity"
          />
        </div>
      </section>

      <!-- <div class="project-section__more">
        <a href="/work" class="text-muted">View more work</a>
        <div class="project-section__endline"></div>
      </div> -->

      <div class="project-section__more">
        <a href="/work" class="text-muted">View more work</a>
      </div>
    </section>

    <AboutSection />
  </Container>
</Layout>

<style>
  .home-hero {
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
    margin-bottom: var(--space-xl);
  }

  .tagline {
    font-size: var(--font-size-level-1);
  }

  .intro-text {
    font-size: var(--font-size-level-6);
    line-height: 1.6;
    max-width: 45ch;
  }

  strong {
    font-weight: 900;
  }

  .portrait-container {
    width: clamp(4rem, 6vw, 7rem);
    height: clamp(4rem, 6vw, 7rem);
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid var(--color-border);
  }
  .portrait-container img {
    width: 100%;
    height: 100%;
    display: block;
    /* border-radius: 1.5rem; */
    object-fit: cover;
  }

  .projects-container {
    padding-bottom: var(--space-md);
    border-bottom: 1px solid var(--color-border);
    position: relative;
  }
  .project-section__more {
    text-transform: uppercase;
    white-space: nowrap;
    line-height: 0.6;
    position: absolute;
    bottom: -7.5px;
    left: 50%;
    transform: translateX(-50%);
    background: var(--color-bg);
    padding: 0 1rem 0 1rem;
    z-index: 2;
  }
  .project-section__endline {
    height: 1px;
    width: 100%;
    background-color: var(--color-border);
  }

  .projects-container {
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
  }
  .header-section {
    /* padding-left: var(--space-md); */
  }

  .header-subsection {
    padding-bottom: var(--space-md);
  }
  .section-label {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }
</style>
