---
import Layout from "../../layouts/Layout.astro";
import Container from "../../components/Container.astro";
import PageHeader from "../../components/PageHeader.astro";
import { SquareArrowOutUpRight } from "@lucide/astro";
import { Image } from "astro:assets";
// IMPORT IMAGES
import gpStackedLogo from "../../assets/images/grand_place/GrandPlace_StackedLogo.svg";
import gpLogosCaseStudy from "../../assets/images/grand_place/GrandPlace_Logos_CaseStudy.webp";
import gpBoxKey from "../../assets/images/grand_place/gp-box-and-key.webp";
import gpLogoProcess from "../../assets/images/grand_place/logoprocess-gp.jpg";
import gpClearSpace from "../../assets/images/grand_place/gp-clearspace.webp";
import gpColorPalette from "../../assets/images/grand_place/grandplace_colorpalette.webp";
import gpBrandGuide from "../../assets/images/grand_place/BrandGuide_Presentation_Letter.webp";
import diamondHouse from "../../assets/images/grand_place/diamond-house-RD1-mockup.jpg";
import gpCardMockup from "../../assets/images/grand_place/grandplace-card-mockup4.png";
import gpLargeSign from "../../assets/images/grand_place/GrandPlace_LargeSign.svg";
import gpOpenHouse from "../../assets/images/grand_place/GrandPlace_OpenHouseSign.svg";
import gpSellersGuide from "../../assets/images/grand_place/gp-homesellersguide-mockup-v2.webp";
import gpBusCards from "../../assets/images/grand_place/gp-businesscard-rd2-option2.webp";
import gpLogomark from "../../assets/images/grand_place/GrandPlace_Logomark_Color.webp";
---

<Layout title="Grand Place | K4D3">
  <Container>
    <PageHeader
      title="Grand Place"
      subtitle="A new brand identity system and website for a luxury real estate team."
      tag="Branding"
    />

    <section class="meta-strip">
      <div class="meta-strip__section">
        <h3>Services</h3>

        <ul class="services">
          <li>Visual Strategy</li>
          <li>Branding</li>
          <li>Signage System</li>
          <li>Web Design</li>
          <li>WordPress Development</li>
        </ul>
        <!-- <p>
          Visual Strategy, Branding, Signage System, Web Design, WordPress
          Development
        </p> -->
      </div>

      <div class="meta-strip__section">
        <h3>Client</h3>
        <p class="tag">Grand Place Real Estate</p>
      </div>

      <div class="meta-strip__section">
        <h3>Website</h3>
        <div class="web-url-flex">
          <a
            class="web-url-flex"
            href="https://www.grandplacere.com/"
            target="_blank"
            rel="noreferrer"
          >
            grandplacere.com
            <SquareArrowOutUpRight class="icon-external-link" />
          </a>
        </div>
      </div>
    </section>

    <Image src={gpStackedLogo} alt="Grand Place primary and secondary logos" />

    <section class="editorial-section">
      <h2 class="case-h2">Summary</h2>
      <div>
        <p>
          Grand Place Real Estate is a growing team with a mission to fulfill
          their clients' goals with seamless and trusting service. After years
          of working under Keller Williams, it became clear to the owners that
          they needed to distinguish themselves from other teams at KW. Their
          brand was unrecognizable beyond the parent brokerage. Many realtors
          face this because they rely on templates for their brand, which
          results in everyone blending in with the competition.
        </p>
      </div>
    </section>

    <hr />

    <section class="editorial-section">
      <h2 class="case-h2">The Solution</h2>
      <div>
        <p>
          With a new identity, they wanted their brand to target a luxury market
          while still being approachable to first-home buyers. We worked
          together to create a full branding package, with collaborative review
          at each step of the process.
        </p>
        <p>
          <strong>The brand identity needs to:</strong>
        </p>
        <ul class="bullet-list">
          <li>
            Represent their professional image: modern, clean, premium,
            transparent.
          </li>
          <li>Appeal to high-end clients without feeling overly exclusive.</li>
          <li>
            Provide a polished experience that spans across all aspects of the
            business.
          </li>
        </ul>
      </div>
    </section>

    <Image
      src={gpLogosCaseStudy}
      alt="Grand Place primary and secondary logos"
    />

    <section class="editorial-section">
      <h2 class="case-h2">Brand Naming</h2>
      <div>
        <p>
          Previously operating under their last name, I worked with the
          founders, George &amp; Page, to rename their company. The old name was
          difficult to remember, and they wanted a name that embraced them as
          they expanded their team.
        </p>
        <p>
          We aimed for an ownable name that evokes both luxury and
          warmth&mdash;something they'd feel proud of&mdash;eventually landing
          on Grand Place. As an added charm, the owners love that their new
          business name happens to include their initials, G + P.
        </p>
      </div>
    </section>

    <Image src={gpBoxKey} alt="Grand Place logo embossed on a box and key" />

    <section class="editorial-section">
      <h2 class="case-h2">Logo, Type &amp; Color</h2>
      <div>
        <p>
          I started with concept sketches, exploring many ideas and refining
          them into a few of the best options to present to the client.
        </p>
        <p>
          I knew I wanted to explore an option that emphasizes the founders'
          initials within the business name. I solved this with a custom 'GP'
          mark, integrated into the full logo. The paired logotype is a
          customized treatment of the brand's main typeface, Playfair Display.
          Poppins is used for body copy and other supporting text.
        </p>
        <p>
          Throughout the process, I enjoy considering different scenarios where
          the logo may used. This approach ensures optimization for various
          applications, having dedicated logos for each purpose.
        </p>
      </div>
    </section>

    <div class="gallery-spacing">
      <Image
        src={gpLogoProcess}
        alt="Critiquing various logo options printed out on the wall"
      />

      <Image src={gpClearSpace} alt="Grand Place minimum clear space guides" />

      <Image
        src={gpColorPalette}
        alt="Grand Place minimum clear space guides"
      />

      <Image src={gpBrandGuide} alt="Grand Place brand guidelines" />

      <section>
        <h3 class="unchosen-concepts-h3">Unchosen Concepts:</h3>
        <div class="unchosen-concepts">
          <div class="grid-auto-fit">
            <Image
              src={diamondHouse}
              alt="Unchosen concept of a diamond inside a house shining outward"
            />

            <Image
              src={gpCardMockup}
              alt="Unchosen concept of a diamond inside a house shining outward"
            />
          </div>
        </div>
      </section>
    </div>

    <section class="editorial-section">
      <h2 class="case-h2">Signage &amp; Printed Material</h2>
      <p>
        With the industry's rules and regulations in mind, I applied the new
        branding to custom signs and other printed material.
      </p>
    </section>

    <div class="gallery-spacing">
      <div class="grid-auto-fit">
        <Image src={gpLargeSign} alt="Grand Place large for sale sign" />

        <Image src={gpOpenHouse} alt="Grand Place small open house sign" />
      </div>

      <Image src={gpSellersGuide} alt="Grand Place Home Seller's Guide" />

      <Image src={gpBusCards} alt="Grand Place business cards" />

      <Image src={gpLogomark} alt="GP logomark with sunburst effect" />
    </div>
  </Container>
</Layout>

<style>
  .meta-strip {
    display: grid;
    /* grid-template-columns: repeat(3, minmax(0, 1fr)); */
    grid-template-columns: 2fr 1fr 1fr;
    gap: var(--space-md);
    border-top: 1px solid var(--color-border);
    padding-top: var(--space-sm);
    margin-bottom: var(--space-lg-2);
    font-family: "Roboto Mono", monospace;
  }
  .meta-strip > :nth-child(2),
  .meta-strip > :nth-child(3) {
    /* justify-self: end; */
  }
  .meta-strip h3 {
    text-transform: uppercase;
    color: var(--color-text-level-2);
    margin-bottom: var(--space-sm);
  }
  .meta-strip__section * {
    color: var(--color-text-level-1);
    font-size: var(--font-size-caption);
    line-height: 1;
  }

  .services {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-xs);
    list-style-type: none;
    font-size: var(--font-size-body);
  }
  .services li {
    white-space: nowrap;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 0.25rem;
    padding: 0.5rem;
  }

  .web-url-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    line-height: 1;
  }
  .icon-external-link {
    width: var(--font-size-caption);
    height: var(--font-size-caption);
  }

  .gallery-spacing {
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
  }
  img {
    border-radius: 1rem;
  }

  .editorial-section {
    display: grid;
    grid-template-columns: 1fr 1.25fr;
    gap: var(--space-md);
    /* border-top: 1px solid var(--color-border); */
    /* padding-top: var(--space-md); */
    margin-top: var(--space-xl);
    margin-bottom: var(--space-xl);
  }
  .editorial-section h2 {
    font-size: var(--font-size-level-3);
    font-weight: 500;
  }

  .case-h2 {
    font-size: var(--font-size-level-2);
    line-height: 1.1;
    color: var(--color-primary);

    background-image: linear-gradient(
      90deg,
      var(--color-quinary),
      var(--color-tertiary)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .bullet-list {
    list-style: none;
    color: var(--color-text-level-2);
  }
  .bullet-list li {
    margin: 1rem 0;
    position: relative;
    padding-left: 1.5rem;
    font-size: var(--font-size-body);
    line-height: 1.6;
  }
  .bullet-list li::before {
    content: "•";
    position: absolute;
    left: 0;
    color: var(--color-quarternary);
  }
  .bullet-list li:last-of-type {
    margin-bottom: 0;
  }

  .unchosen-concepts-h3 {
    display: inline-block;
    font-size: var(--font-size-level-6);
    line-height: 1;
    border: 1px solid var(--color-border);
    border-radius: 1.5rem 1.5rem 0 0;
    padding: var(--space-sm) var(--space-md);
    border-bottom: none;
    text-transform: uppercase;
    font-family: "Roboto Mono", monospace;
    font-weight: bold;
  }
  .unchosen-concepts {
    padding: var(--space-md);
    border: 1px solid var(--color-border);
    border-radius: 0 1.5rem 1.5rem 1.5rem;
  }

  @media (max-width: 1040px) {
    .meta-strip {
      grid-template-columns: 1fr;
      gap: var(--space-md);
    }

    .editorial-section {
      grid-template-columns: 1fr;
    }
  }
</style>
